body,
html {
  color: grey;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  line-height: 1.6;
  margin: 0;
}
.img1,
.img2,
.img3 {
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed; /* this makes the magic */
}

.img1 {
  background-image: url("../src/images/img1.jpg");
  min-height: 100%;
}

.img2 {
  background-image: url("../src/images/img2.jpg");
  min-height: 500px;
  opacity: 0.5;
}

.img3 {
  background-image: url("../src/images/img3.jpg");
  min-height: 500px;
}

.text {
  color: white;
  font-size: 30px;
  letter-spacing: 5px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: 100%;
}
.text .border {
  background-color: rgb(34, 31, 31);
  color: white;
  padding: 20px;
}
.text .border-trans {
  background-color: transparent;
}
.photo-source {
  bottom: 0;
  color: white;
  position: absolute;
}

.photo-source a {
  color: white;
  text-decoration: none;
}
